@import url('normalize.css');
@import url('utilities.css');
@import url('animations.css');

.page {
    background-color: var(--primary);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header styles */
.header {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding-block: 1rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header__title {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.languages {
    max-width: 5rem;
    width: 80%;
    display: flex;
    gap: 0.75rem;
}

.languages__option {
    aspect-ratio: 1;
    width: 50%;
    cursor: pointer;
    border-style: none;
    border-radius: 50%;
    box-shadow: 3px 3px 0 #00000090;
    position: relative;
}

.languages__img {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* Main styles */
.main {
    max-width: var(--max-width);
    width: 100%;
    height: fit-content;
    margin: 0.5rem auto;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3.5rem;
}

.wheel {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    overflow: hidden;
}

.wheel__roulette {
    aspect-ratio: 1/1;
    width: min(25rem, 80%);
    position: relative;
}

.wheel__roulette::after {
    content: "";
    aspect-ratio: 4/3;
    width: 8%;
    background-color: var(--terciary);
    position: absolute;
    top: 50%;
    right: 0;
    translate: 50% -50%;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.roulette {
    width: 100%;
    height: 100%;
    background: radial-gradient(#D5D5D5, #818181);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.roulette--spining {
    animation: spining 20s infinite linear;
}

.wheel__option {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.wheel__text {
    width: 50%;
    padding-inline: 0.75rem;
    position: absolute;
    font-size: 1.1rem;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wheel__textarea {
    aspect-ratio: 5/4;
    width: min(25rem, 80%);
    padding: 0.6rem;
    border: 2px solid black;
    border-radius: 5px;
    outline-style: none;
    box-shadow: 5px 5px 0 #00000080;
    overflow-y: auto;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.7;
    resize: none;
    scrollbar-width: thin;
}

.wheel__textarea:focus {
    border-color: #0000FF;
}

.instructions {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.instructions__title {
    font-size: 1.75rem;
}

.instructions__main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 1.3rem;
}

/* Selection */
.selection {
    --color: #FFFFFF;
    max-width: 30rem;
    width: 80%;
    padding: 1.2rem 2rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #00000080;
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 50%;
    translate: -50% 0;
    text-align: center;
    animation: fade-in 0.35s;
    overflow: hidden;
}

.selection::after, .selection::before {
    content: "";
    aspect-ratio: 1;
    width: 50%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--color);
    position: absolute;
}

.selection::after {
    top: 0;
    left: 0;
    translate: -50% -50%;
}

.selection::before {
    bottom: 0;
    right: 0;
    translate: 50% 50%;
}

.selection__icon {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border-style: none;
    border-radius: 50%;
    background-color: var(--terciary);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.selection__icon:hover {
    padding: 0.1rem;
}

.selection__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.selection__title {
    font-size: 1.5rem;
}

.selection__text {
    max-height: 5rem;
    width: 100%;
    position: relative;
    z-index: 11;
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Footer styles */
.footer {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding-block: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.contact {
    max-width: 36rem;
    width: 90%;
    padding: 1.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 0 #00000080;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
}

@media (width > 34rem) {
    .languages {
        position: absolute;
        top: 50%;
        right: 1rem;
        translate: 0 -50%;
    }

    .wheel__text {
        font-size: 1.5rem;
    }
}