:root {
    --primary: #FDF7D8;
    --secondary: #FFF0A7;
    --terciary: #EDB35B;
    --max-width: 56rem;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Dosis';
}